body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header h1 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(71, 216, 71);
  margin-bottom: 150px;
}
.container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 150px;
}

.flexible {
  display: flex;
}
.text-part {
  width: 60%;
}
.text-part-heading {
  font-weight: bold;
  font-size: 30px;
}
.text-part-para {
  text-align: justify;
}
.img-part {
  width: 40%;
  padding-left: 30px;
}
.img-part img {
  width: 80%;
}
.button {
  padding: 13px 50px;
  background-image: linear-gradient(
    to right top,
    #d63921,
    #bb5b00,
    #967300,
    #688300,
    #208e09
  );
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 15px;
}
.division-header {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.division-card {
  width: 25%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.division-card img {
  width: 100%;
}
.division-text {
  padding: 30px 10px;
}
.division-text-heading {
  text-align: center;
}
.division-text-para {
  color: gray;
}
.button-area {
  display: flex;
  justify-content: center;
}
.button-area button {
  padding: 10px 30px;
  background-color: turquoise;
  border: 0;
  border-radius: 5px;
}
.division-groud {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer p {
  text-align: center;
  font-size: 24px;
  color: rgb(110, 108, 108);
}
